@use '../variables.scss';
.button {
    border: none;
    background-color: transparent;
    color: variables.$greyedFont;
    border: 1px solid variables.$font;
    padding: 0.6em;
    width: 30vw;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: variables.$hover;
        color: variables.$font;
    }
}
@media screen and (min-width: 1000px) {
    .button {
        width: 15vw;
    }
}
