@use '../variables.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: variables.$navbar;
    padding-left: 1rem;
    padding-right: 1rem;
}
.header {
    border-bottom: 1px solid variables.$font;
    padding: 1em;
    font-size: 0.8em;
}
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    background-color: variables.$background;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
}
.blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.firstBlock {
    h3 {
        text-align: center;
        font-weight: 500;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
}
.secondBlock {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.textSection {
    h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    p {
        text-align: center;
        font-weight: 100;
        color: variables.$greyedFont;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: variables.$navbar;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: variables.$footer;
}
.footerButton {
    border: none;
    background-color: transparent;
    color: variables.$greyedFont;
    border: 1px solid variables.$greyedFont;
    padding: 0.6em;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
