@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    font-family: 'Open Sans';
    color: white;
    background-color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}
p,
h1,
h2,
h3,
h4,
h5,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}
